Tugas 4 Afifa.json
{
  "name": "Tugas 4 Afifa",
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        576,
        -784
      ],
      "id": "3d4a3e30-5f85-4658-8a96-bbc53eecbb21",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "1xsOZUPR7-rgHr5GH-R2lqyI1KgaNXb5_",
          "mode": "list"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        784,
        -784
      ],
      "id": "2ebf5694-ac6d-4f8b-bda3-034eaa035c6f",
      "name": "Download file",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "KP383HuC2z7UrES3",
          "name": "Google Drive account 2"
        }
      }
    },
    {
      "parameters": {
        "mode": "insert",
        "tableName": {
          "__rl": true,
          "value": "document",
          "mode": "list",
          "cachedResultName": "document"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStoreSupabase",
      "typeVersion": 1.3,
      "position": [
        992,
        -784
      ],
      "id": "6dabc974-7c60-467c-ab74-99e6adeca127",
      "name": "Supabase Vector Store",
      "credentials": {
        "supabaseApi": {
          "id": "GGiZ8vin9cdvRNss",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "dataType": "binary",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
      "typeVersion": 1.1,
      "position": [
        1168,
        -576
      ],
      "id": "fb8f0a63-fc25-4c1a-968e-3e2a3f6cb930",
      "name": "Default Data Loader"
    },
    {
      "parameters": {
        "modelName": "models/gemini-embedding-001"
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsGoogleGemini",
      "typeVersion": 1,
      "position": [
        880,
        -576
      ],
      "id": "d795ddd9-384b-4f9b-992e-15ded7c48df1",
      "name": "Embeddings Google Gemini",
      "credentials": {
        "googlePalmApi": {
          "id": "ucu0ByTZQdrc5r9r",
          "name": "Google Gemini(PaLM) Api account 3"
        }
      }
    },
    {
      "parameters": {
        "public": true,
        "initialMessages": "Hi there! 👋\nMy name is Afifa. How can I assist you today?",
        "options": {}
      },
      "id": "9d40b5c6-92c3-4498-afb3-c7ec7e7952fd",
      "name": "When chat message received",
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.1,
      "position": [
        608,
        -320
      ],
      "webhookId": "OTOMATIS_DIISI_N8N"
    },
    {
      "parameters": {
        "modelName": "models/gemini-2.0-flash",
        "options": {
          "temperature": 0.3
        }
      },
      "id": "f927f2b4-63e1-4667-b2c5-50c1b9731fc7",
      "name": "Google Gemini Chat Model",
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        752,
        -144
      ],
      "credentials": {
        "googlePalmApi": {
          "id": "ucu0ByTZQdrc5r9r",
          "name": "Google Gemini(PaLM) Api account 3"
        }
      }
    },
    {
      "parameters": {
        "mode": "retrieve-as-tool",
        "toolName": "panduan_materitambahan",
        "toolDescription": "Gunakan tool ini untuk mencari informasi tentang mencari materi tambahan tentang informatika tingkat sma yang menjawab prihal Materi: Struktur Data, Algoritma, Basis\nData, Jaringan, dan Etika Digital, STRUKTUR DATA, ALGORITMA &\nPEMROGRAMAN, BASIS DATA, Menengah, SISTEM & JARINGAN\nKOMPUTER, LITERASI & ETIKA DIGITAL.",
        "tableName": {
          "__rl": true,
          "value": "document",
          "mode": "list",
          "cachedResultName": "document"
        },
        "topK": 5,
        "includeDocumentMetadata": false,
        "options": {}
      },
      "id": "9853297a-e62c-4681-8327-749080bcbad6",
      "name": "Supabase Vector Store Tool",
      "type": "@n8n/n8n-nodes-langchain.vectorStoreSupabase",
      "typeVersion": 1,
      "position": [
        1264,
        -432
      ],
      "credentials": {
        "supabaseApi": {
          "id": "GGiZ8vin9cdvRNss",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $('When chat message received').item.json.sessionId ?? $('When chat message received').item.json.chatId ?? 'default-session' }}",
        "options": {
          "systemMessage": "Role:\nKamu adalah asisten pembelajaran informatika yang ramah, jelas, dan edukatif.\n\nTask:\nTugasmu adalah menjawab pertanyaan pengguna berdasarkan materi Informatika Tambahan yang mencakup:\n\nStruktur Data (Array, List, Stack, Queue, Linked List, Hash Table, Tree, Graph)\nAlgoritma dan Pemrograman (flowchart, sorting, searching, kompleksitas, dll)\nBasis Data (Primary Key, ERD, relasi, normalisasi, dll)\nSistem dan Jaringan Komputer (client-server, P2P, keamanan jaringan)\nLiterasi dan Etika Digital (privasi, keamanan, etika penggunaan teknologi)\n\nBerikan jawaban yang:\n\nMudah dipahami oleh pelajar (kelas X–XII)\nTerstruktur dan ringkas\nBisa disertai contoh sederhana jika diperlukan\n\nConstraints:\n\nJawab hanya berdasarkan materi yang diberikan\nJika informasi tidak tersedia dalam materi, jawab:\n\"Informasi tidak ditemukan dalam materi yang tersedia.\"\nJangan mengarang jawaban di luar konteks\nGunakan bahasa Indonesia yang jelas dan sopan\nMaksimal jawaban 150–200 kata"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        768,
        -368
      ],
      "id": "132371aa-9061-4f21-97db-5a9c967141ce",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $('When chat message received').item.json.sessionId ?? $('When chat message received').item.json.chatId ?? 'default-session' }}"
      },
      "type": "@n8n/n8n-nodes-langchain.memoryPostgresChat",
      "typeVersion": 1.3,
      "position": [
        864,
        -160
      ],
      "id": "848c75c7-2286-4e53-945f-935a972f33b5",
      "name": "Postgres Chat Memory",
      "credentials": {
        "postgres": {
          "id": "a4JBfAPWVIgKn46w",
          "name": "Postgres account 2"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "Download file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download file": {
      "main": [
        [
          {
            "node": "Supabase Vector Store",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Default Data Loader": {
      "ai_document": [
        [
          {
            "node": "Supabase Vector Store",
            "type": "ai_document",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings Google Gemini": {
      "ai_embedding": [
        [
          {
            "node": "Supabase Vector Store",
            "type": "ai_embedding",
            "index": 0
          },
          {
            "node": "Supabase Vector Store Tool",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "When chat message received": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Supabase Vector Store Tool": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Postgres Chat Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "ef81093d-d14a-4db0-8c56-c81025fdcf8c",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "0501412502f47367dcb6fba0780ac05ad70d68d7c97bec5655c5b42bb8c4cc92"
  },
  "id": "xVH3OS1BBhOd5RTB",
  "tags": []
}